@model IEnumerable<IFES.POO2.Ipharm.PortalUsuario.Models.ProductViewModel>

@{
    ViewBag.Title = "Lista de Produtos";
    Layout = "~/Views/Shared/_LayoutGentelella.cshtml";
    string ativeClass = "fa fa-check-circle";
    string deactiveClass = "fa fa-times-circle";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasControl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @if (!item.HasControl)
                {
                    <i class="@deactiveClass" style="color:red"></i>
                }
                else
                {
                    <i class="@ativeClass" style="color:green"></i>
                }
            </td>
            <td>
                @if (item.IsDeleted)
                {
                    <i class="@deactiveClass" style="color:red"></i>
                }
                else
                {
                    <i class="@ativeClass" style="color:green"></i>
                }
            </td>
            <td>

                <button type="button" class="btn btn-dark" onclick="addProduct('@Url.Action("AddProduct", "Ajax")', '@item.Id')">
                    <span class="fa fa-plus"></span>
                </button>

                <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="editModal('@item.Name', '@item.Value', '@item.Description')">
                    <span class="fa fa-question"></span>
                </button>
            </td>
        </tr>
    }

</table>

<div class="row">
    @Html.ActionLink("Voltar", "Index", "Company", new { @class="btn btn-default" })
    
    @Html.ActionLink("Ir para à cesta   ", "ListChart", "Company", new { @class="btn btn-info pull-right" })
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Descrição</h4>
            </div>
            <div class="modal-body">
                <h4 id="ItemTitle">.</h4>
                <h5 id="ItemValue"></h5>
                <p id="ItemDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>