@model IFES.POO2.Ipharm.PortalUsuario.Models.RegisterViewModel
@{
    ViewBag.Title = "Criar uma nova conta";
    Layout = "~/Views/Shared/_ViewLogin.cshtml";
}

<div class="login-page">
    <div class="form">
        <img src="~/Images/logo.png" alt="iPharm" style="padding-bottom: 10%" />


        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div style="display:none">
                @Html.ValidationSummary()
            </div>

            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Nome da Completo" })
            @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control", placeholder = "CPF" })
            @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", placeholder = "Data de Nascimento" })
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Telefone" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Login" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Senha" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmação de Senha" })
            <button type="submit" id="btns">Registrar-se</button>
        }

    </div>
</div>

@section Scripts {
    
    <script>
        var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                onKeyPress: function(val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $(document).ready(function() {
            $("#Cpf").mask("000.000.000-00");
            $('#Phone').mask(SPMaskBehavior, spOptions);
            $("#Birthday").mask("00/00/0000");
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
