@using IFES.POO2.Ipharm.PortalAdministrativo.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}

<html>
<head>
    <link href="~/Content/Custom/Login.css" rel="stylesheet" />
</head>

<body>

    <div class="login-page">
        <div class="form">
            <img src="~/Images/logo.png" alt="iPharm" style="padding-bottom: 10%" />

            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                @Html.TextBoxFor(l => l.Login, new { placeholder = "Login" })

                @Html.TextBoxFor(l => l.Password, new { placeholder = "Senha" })

                <button type="submit">Login</button>


            }


        </div>
    </div>
</body>
</html>

@section Scripts {
    <script src="~/Scripts/Custom/login.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}